################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp and SQLDatabase/.vs
/Two WebApps and two SQLDatabases/.vs
/Two WebApps and two SQLDatabases/.vs
